ion-toolbar {
  --opacity: 0.5;
}

ion-footer strong {
  font-size: 20px;
  line-height: 26px;
}

ion-footer p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;
}

ion-footer a {
  text-decoration: none;
}
