<app-header [title]="title"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>

    <ion-label>Apellido Paterno</ion-label>
    <ion-input type="text" [(ngModel)]="apepat"></ion-input>

    <ion-label>Apellido Materno</ion-label>
    <ion-input type="text" [(ngModel)]="apemat"></ion-input>

    <ion-button expand="full" (click)="submit()">Submit</ion-button>
    </ion-card-content>
  </ion-card>
  <!--
  <ion-list>
    <ion-item *ngFor="let maestro of maestros">
      <ion-label>{{maestro.nombre}}</ion-label>
      <ion-label>{{maestro.apellidoPaterno}}</ion-label>
      <ion-label>{{maestro.apellidoMaterno}}</ion-label>
    </ion-item>
  </ion-list>
  -->
</ion-content>
