<app-header [title]="title" [search]="true"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>ITI-21</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        @for (student of this.studentsService.results; track $index) {
        <ion-item>
            <ion-label>
              <h2>{{ student['first-name'] }} {{ student['last-name'] }}</h2>
              <p>{{ student.age }} años - {{ student.city }}</p>
            </ion-label>
          </ion-item>
        }
        </ion-list>
        @if(this.studentsService.isLoading){
          <ion-spinner></ion-spinner>
        }
      @if(!this.studentsService.isLoading && this.studentsService.noResultsFound){
        <div>No results found</div>
      }
    </ion-card-content>
  </ion-card>

</ion-content>
